<body>
  <div class="full-page char-white">
    <% @posts.each do |post| %>
      <div class="post-wrapper">
        <%= post.virtual_user_name %>
        @<%= post.virtual_user_sub_name %>
        <%= post.date %>
        <%= post.body %>
        <i class="far fa-comment"></i>
        <i class="fas fa-retweet"></i>
        <i class="far fa-heart"></i>
        <i class="fas fa-upload"></i>
      </div>
      <br>
    <% end %>
  </div>
</body>
