<div class="bottom-wrapper gray-character">
  <div>
    <i class="far fa-comment"></i>
    <% if post.replieds_count > 0 %>
      <%= post.replieds_count %>
    <% end %>
  </div>
  <div>
    <i class="fas fa-retweet"></i>
  </div>
  <div>
    <i class="far fa-heart">
    <% if post.goods_count > 0 %>
      <%= post.goods_count %>
    <% end %>
  </i>
  </div>
  <div>
    <i class="fas fa-upload"></i>
  </div>
</div>
