<div class="side_menu-zone">
  <div class="side_menu-wrapper">
    <div class="side_menu-text">
    　　使い方
    </div>
    <div class="side_menu-text">
      <%= link_to "", class: 'side_menu-text delete_link_decoration delete_link_color' do %>
    　　解答
      <% end %>
    </div>
  </div>
</div>
