<% if virtual_user.present? %>
  <div class = "alert">
    <ul>
      <% virtual_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
