<div class="answer-wrapper">
  <h1>採点結果</h1><h4>正解　<%= @num_of_correct %>問/<%= $result.length %>問</h4>
  <br>
  <% $result.each do |virtual_user_id, student_ansewer| %>
    <h4 class="answer-label-title">
      <%= @answers.find_by(virtual_user_id: virtual_user_id).virtual_user.name %>の危険度
    </h4>
    <h5>解答</h5>
    <span>
      <% if student_ansewer == 1 %>
        現状情報の流出はない
      <% elsif student_ansewer == 2 %>
        今後の投稿次第では危険
      <% elsif student_ansewer == 3 %>
        個人情報が流出している
      <% else %>
        未回答
      <% end %>
    </span>
    <h5>正解</h5>
    <span>
      <% if @answers.find_by(virtual_user_id: @answers.find_by(virtual_user_id: virtual_user_id).virtual_user).danger_level == 1 %>
        現状情報の流出はない
      <% elsif @answers.find_by(virtual_user_id: @answers.find_by(virtual_user_id: virtual_user_id).virtual_user).danger_level == 2 %>
        今後の投稿次第では危険
      <% elsif @answers.find_by(virtual_user_id: @answers.find_by(virtual_user_id: virtual_user_id).virtual_user).danger_level == 3 %>
        個人情報が流出している
      <% end %>
    </span>
    <div>
      <h5>解説</h5>
      <span>解説が入ります解説が入ります解説が入ります解説が入ります解説が入ります解説が入ります解説が入ります解説が入ります解説が入ります解説が入ります</span>
    </div>
    <br>
  <% end %>
</div>
